@page "/devices"

<PageTitle>Céges eszközök</PageTitle>

@using EquipmentTrackerThesis.Data
@using EquipmentTrackerThesis.Database;
@using EquipmentTrackerThesis.Database.Models;
@inject DatabaseHandler _databaseHandler;
<!--inject WeatherForecastService ForecastService--->

<h1> @employee[x].FirstName @employee[x].SurName eszközei</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (stuff == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Név</th>
                <th>Gyártási szám</th>
                <th>Típus</th>
                <th>Vásárlás dátuma</th>
                <th>Tulajdonos</th>
                <th>Átvétel dátuma</th>
                <th>Leadás dátuma</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dev in stuff)
            {
                <tr>
                    <td>@dev.Name</td>
                    <td>@dev.SerialNumber</td>
                    <td>@dev.Type</td>
                    <td>@dev.PurchaseDate.Date</td>
                    <td>@employee[dev.Owner].SurName @employee[dev.Owner].FirstName</td>
                    <td>@dev.ReceptionDate.Date</td>
                    <td>@dev.ReturnDate.Date</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Database.Models.Devices> stuff = new List<Database.Models.Devices>();
    List<Employee> employee = new List<Employee>();
    int x = 0;

    protected override void OnInitialized()
    {
        //base.OnInitialized();

        var devices = _databaseHandler.GetAllDevices();
        employee = _databaseHandler.GetAllEmployees();

        stuff = devices;
    }
}
